/*div that will have the heading for th list*/
.listHeading {
    background-color: var(--deep-pink);
    color: white;
    margin: 0;
    border: none;
    padding: 9px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 12px;
    float: right;
}
/*div for the item list table*/
.itemList {
    padding: 9px 18px;
    margin: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: var(--light-grey);
    float: right;
}
/*makes rows act like links*/
.itemList table tr:hover {
    background-color: var(--babybloo);
    cursor: pointer;
}
/*Style for the table*/
.itemList table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    /*margin: 0 0 30px 0;*/
}
/*Style for the tables rows*/
.itemList table tr {
    height: 40px;
    border-width: 2px 0 2px 0;
    border-style: solid;
}