* {
    box-sizing: border-box;
}

@font-face{
    font-family: Lobster;
    src: url(./fonts/Lobster-Regular.ttf)
}

@font-face{
    font-family: Lato;
    src: url(./fonts/Lato-Bold.ttf);
}

/*color palette*/
:root{
    --deep-pink:#b9153e;
    --stripe-pink1: #ed767d;
    --stripe-pink2: #f48a91;
    --cyan: #35a0a0;
    --babybloo: #C8F1F6;
    --offwhite: #FDF2E8;
    --light-grey: #f1f1f1;
    }

/*body font and background*/
body {
    margin: 0;
    font-family: Lato;
    background-color: var(--babybloo);
}
section {
    padding: 5px;
    overflow:hidden;
    width: 100%;
    background-color: var(--offwhite);
}
/*container for modules positioned on the left of the screen like lists or preview modules*/
.mainContainer {
    width: 75.5%;
    background-color: white;
    overflow:hidden;
}
/*position and size of a container aligned to the right of the screen*/
.secondaryContainer {
    float: right;
    width: 24.3%;
    background-color: var(--light-grey);
    overflow:hidden;
}