/*used for the search bar in the search list page*/
/* its expecteed for the search elements to be nested in the .listHeading class */
/* Style the search box inside the navigation bar */
.listHeading input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 78%;
    border-radius: 5px;
}
/*search button style*/
.listHeading button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 18%;
    border-radius: 5px;
}


@media screen and (max-width: 900px) {
    .listHeading input[type=text] {
        width: 60%;
    }
    /*search button style*/
    .listHeading button {
        width: 25%;
    }
}