* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
section {
    padding: 5px;
    overflow:hidden;
    width: 100%;
    background-color: #FFDEAD;
}