.mainContainer{
    width: 60vw;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 10vh 30vh 5vh 10vh;
    grid-template-areas: 
    "left topright"
    "left midright"
    "left botright"
    "left footer";
    grid-gap: 25px;
}
.mainContainer img {
    grid-area: left;
    margin: 10px;
    min-width: 300px;
    width: 30vw;
    min-height: 300px;
    height: 30vw;
}

.mainContainer .productDescription{
    width: 25vw;
    grid-area: midright;
}

.mainContainer button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:var(--deep-pink);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    width: 70%;
}

.mainContainer .input #ammount{
    width: 10%;
    height: 47px;
}
.mainContainer h1{
    grid-area: topright;
}
.mainContainer .input{
    
    grid-area: botright;
}
