.productDescription{
    width: 60vw;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 10vh 30vh 5vh 10vh 0.2vh;
    grid-template-areas: 
    "left topright"
    "left midright"
    "left botright"
    "left footer"
    "bot bot";
    grid-gap: 25px;
}


.productDescription img {
    grid-area: left;
    margin: 10px;
    min-width: 300px;
    width: 30vw;
    min-height: 300px;
    height: 30vw;
}

.productDescription button {
    border: none;
    outline: 0;
    padding: 12px;
    margin-bottom: 3px;
    color: white;
    background-color:var(--deep-pink);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    width: 70%;
}
.productDescription {
    width: 25vw;
    grid-area: midright;
}
.productDescription h1{
    grid-area: topright;
}

.productDescription .input #ammount{
    width: 10%;
    height: 47px;
}

.productDescription .input{
    grid-area: botright;
}

@media screen and (max-width: 800px) {
    .productDescription img {
        width: 200px;
        height: 200px;
    }
}